body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
}

input, select{
    padding: 5px;
    border-radius: 5px;
}

button{
    padding: 7px 15px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
}

p{
    font-weight: bold;
    margin-top: 15px;
}
