body{
    font-family: Arial;
    background-color: #e3e3e3;
    padding: 20px;
}

h1{
    color: #333;
}

input{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

button{
    padding: 8px 14px;
    cursor: pointer;
}

p{
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
